/* Extend*/
/* Extend*/
/*Mixin */
/*Mixin */
.btn-theme {
  background: transparent url("") center no-repeat;
  background-size: cover;
  border: 2px #eb3333 solid;
  color: #ffffff;
}

.btn-theme:hover {
  color: #eb3333;
}

.btn-theme-fill {
  background: #eb3333 url("") center no-repeat;
  background-size: cover;
  color: #ffffff;
}

._prod_div {
  background: #ffffff;
  /* Slider tab*/
  /* product cnt */
}

._prod_div .navbar .navbar-nav li .nav-link {
  color: #ffffff;
}

._prod_div .navbar .navbar-nav li .nav-link:hover, ._prod_div .navbar .navbar-nav li .nav-link:active {
  color: #eb3333;
}

._prod_div .navbar .navbar-nav li.active .nav-link {
  color: #eb3333;
}

._prod_div .tabbable {
  /* product cnt */
}

._prod_div .tabbable .nav.nav-tabs li a {
  color: #ffffff;
}

._prod_div .tabbable ._prod_cnt {
  border-left: 3px #ffffff solid;
}

._prod_div .tabbable ._prod_cnt:before {
  background-color: #ffffff;
  border: 2px #eb3333 solid;
}

._prod_div .tabbable ._prod_cnt h3 {
  color: #ffffff;
}

._prod_div .tabbable ._prod_cnt p {
  color: #ffffff;
}

._prod_div .tabbable ._prod_cnt .btn-prod .more-cnt {
  color: #ffffff;
}

._prod_div .tabbable ._prod_cnt .btn-prod:hover .more-cnt {
  color: #eb3333;
}

._prod_div .interested-form .input-group {
  border: 2px #eb3333 solid;
}

._prod_div .interested-form .input-group .mail-btn {
  background: #eb3333;
  color: #fff;
}

._prod_div .interested-form .input-group input {
  color: #eb3333;
}

._prod_div .interested-form .input-group .btn-send {
  color: #ffffff;
  background: #eb3333;
}

._prod_div .interested-form .input-group:hover .btn-send {
  background: #666666;
}

._social_icon i {
  border: 1px #ffffff solid;
  color: #ffffff;
}

._social_icon i:hover {
  color: #eb3333;
  border: 1px #eb3333 solid;
}

.rect {
  fill: #d6d6d6;
  width: 3.5px;
  height: 12.2px;
}

.rect-clr, .zip {
  fill: #eb3333;
}
